model {
  rcnn_attention {
    k_shot: 4
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 400
        max_dimension: 400
      }
    }
    feature_extractor {
      type: 'faster_rcnn_resnet50'
      first_stage_features_stride: 16
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        scales: [0.25, 0.5, 1.0, 2.0]
        aspect_ratios: [0.5, 1.0, 2.0]
        height_stride: 16
        width_stride: 16
      }
    }
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: 0.0
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.01
        }
      }
    }
    first_stage_nms_score_threshold: 0.0
    first_stage_nms_iou_threshold: 0.7
    first_stage_max_proposals: 300
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 14
    maxpool_kernel_size: 2
    maxpool_stride: 2
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        use_dropout: false
        dropout_keep_probability: 1.0
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.0
        iou_threshold: 0.6
        max_detections_per_class: 100
        max_total_detections: 300
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 2.0
    second_stage_classification_loss_weight: 1.0
    second_stage_batch_size: 64
    attention_tree {
      cross_similarity {
        cosine_cross_similarity {
        }
      }
      pre_convline {
        conv_hyperparameters {
          op: CONV
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
        filter_num_list: [256]
      }
      post_convline {
        conv_hyperparameters {
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
        filter_num_list: [256]
      }
      training_ncobj_proposals: [64, 64]
      ncobj_proposals: [300, 300]
      orig_fea_in_post_convline: true
      hard_negative_mining: false
      hard_positive_mining: false
      loss_weight: 0.5
      stop_features_gradient: false
    }
    attention_tree_only: true
  }
}

train_config: {
  batch_size: 4
  optimizer {
    momentum_optimizer: {
      learning_rate: {
        manual_step_learning_rate {
          initial_learning_rate: 0.001
          schedule {
            step: 0
            learning_rate: .001
          }
          schedule {
            step: 50000
            learning_rate: .0001
          }
          schedule {
            step: 70000
            learning_rate: .00001
          }
        }
      }
      momentum_optimizer_value: 0.9
    }
    use_moving_average: false
  }
  gradient_clipping_by_norm: 10.0
  fine_tune_checkpoint: "/home/amir/Work/codes/co-detection/CoLoc/ckpts/faster_rcnn_resnet50_coco_2018_01_28/model.ckpt"
  from_detection_checkpoint: true
  num_steps: 800000
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
}

train_input_reader {
  shuffle: true
  num_readers: 8
  split: "train"
  support_db: "/home/amir/detection-data/cls/boxed_imagenet_processed/"
}

eval_config: {
  num_examples: 2000
  eval_interval_secs: 3600
}

eval_input_reader: {
  shuffle: true
  num_readers: 1
  split: "os_val"
  support_db: "/home/amir/detection-data/cls/boxed_imagenet_processed/"
  label_map_path: "/home/amir/detection-data/cls/boxed_imagenet_processed/data/coloc_label_map.pbtxt"
}
