model {
  wrn_attention {
    k_shot: 8
    num_negative_bags: 0
    bag_size: 5
    use_features: true
    num_classes: 64
    wrn_depth: 28
    wrn_width: 10
    wrn_dropout_rate: 0
    wrn_data_format: "channels_last"
    weight_decay: 0.0005
    attention_tree {
      #k1
      unit {
        cross_similarity {
          deep_cross_similarity {
            fc_hyperparameters {
              op: FC
              regularizer {
                l2_regularizer {
                  weight: 0.0005
                }
              }
              initializer {
                variance_scaling_initializer {
                  factor: 1.0
                  uniform: true
                  mode: FAN_AVG
                }
              }
            }
          }
        }
        loss {
          sigmoid_cross_entropy_loss {}
          class_agnostic: true
          weight: 0.0
        }
        training_subsampler {
          ncobj_proposals: 5
          topk: 5
        } 
        ncobj_proposals: 5 
        orig_fea_in_post_convline: true
        use_tanh_sigmoid_in_post_convline: false
        post_convline_res: "none"
        overwrite_fea_by_scores: false
        compute_scores_after_matching: true
      }
      #k2
      unit {
        cross_similarity {
          pairwise_cross_similarity {
            cross_similarity {
              deep_cross_similarity {
                fc_hyperparameters {
                  op: FC
                  regularizer {
                    l2_regularizer {
                      weight: 0.0005
                    }
                  }
                  initializer {
                    variance_scaling_initializer {
                      factor: 1.0
                      uniform: true
                      mode: FAN_AVG
                    }
                  }
                }
              }
            } 
          }
        }
        loss {
          sigmoid_cross_entropy_loss {}
          class_agnostic: true
          weight: 1.0
        }
        post_convline {
          conv_hyperparameters {
            op: CONV
            batch_norm {
              scale: true
              epsilon: 1e-5
            }
            regularizer {
              l2_regularizer {
                weight: 5e-4
              }
            }
            initializer {
              variance_scaling_initializer {
                factor: 1.0
                uniform: true
                mode: FAN_AVG
              }
            }
          }
          filter_num_list: 640
        } 
        training_subsampler {
          ncobj_proposals: 6
        }
        ncobj_proposals: 25
        orig_fea_in_post_convline: true
        use_tanh_sigmoid_in_post_convline: true
        post_convline_res: "sum"
        overwrite_fea_by_scores: false
        compute_scores_after_matching: true
      }
      #k4
      unit {
        cross_similarity {
          pairwise_cross_similarity {
            cross_similarity {
              deep_cross_similarity {
                fc_hyperparameters {
                  op: FC
                  regularizer {
                    l2_regularizer {
                      weight: 0.0005
                    }
                  }
                  initializer {
                    variance_scaling_initializer {
                      factor: 1.0
                      uniform: true
                      mode: FAN_AVG
                    }
                  }
                }
              }
            } 
          }
        }
        loss {
          sigmoid_cross_entropy_loss {}
          class_agnostic: true
          weight: 1.0
        }
        post_convline {
          conv_hyperparameters {
            op: CONV
            batch_norm {
              scale: true
              epsilon: 1e-5
            }
            regularizer {
              l2_regularizer {
                weight: 5e-4
              }
            }
            initializer {
              variance_scaling_initializer {
                factor: 1.0
                uniform: true
                mode: FAN_AVG
              }
            }
          }
          filter_num_list: 640
        } 
        training_subsampler {
          ncobj_proposals: 6
        }
        ncobj_proposals: 300
        orig_fea_in_post_convline: true
        use_tanh_sigmoid_in_post_convline: true
        post_convline_res: "sum"
        overwrite_fea_by_scores: false
        compute_scores_after_matching: true
      }
      #k8
      unit {
        cross_similarity {
          pairwise_cross_similarity {
            cross_similarity {
              deep_cross_similarity {
                fc_hyperparameters {
                  op: FC
                  regularizer {
                    l2_regularizer {
                      weight: 0.0005
                    }
                  }
                  initializer {
                    variance_scaling_initializer {
                      factor: 1.0
                      uniform: true
                      mode: FAN_AVG
                    }
                  }
                }
              }
            } 
          }
        }
        loss {
          sigmoid_cross_entropy_loss {}
          class_agnostic: true
          weight: 1.0
        }
        post_convline {
          conv_hyperparameters {
            op: CONV
            batch_norm {
              scale: true
              epsilon: 1e-5
            }
            regularizer {
              l2_regularizer {
                weight: 5e-4
              }
            }
            initializer {
              variance_scaling_initializer {
                factor: 1.0
                uniform: true
                mode: FAN_AVG
              }
            }
          }
          filter_num_list: 640
        } 
        training_subsampler {
          ncobj_proposals: 6
        }
        ncobj_proposals: 1
        orig_fea_in_post_convline: true
        use_tanh_sigmoid_in_post_convline: true
        post_convline_res: "sum"
        overwrite_fea_by_scores: false
        compute_scores_after_matching: true
      }
    }
  }
}

train_config: {
  batch_size: 8
  optimizer {
    momentum_optimizer: {
      learning_rate: {
        manual_step_learning_rate {
          initial_learning_rate: 0.0
          schedule {
            step: 0
            learning_rate: .0
          }
        }
      }
      momentum_optimizer_value: 0.9
    }
    use_moving_average: false
  }
  from_detection_checkpoint: false
  num_steps: 1
}

train_input_reader {
  mil_input_reader{
    shuffle: true
    num_readers: 1
    data_format: "channels_last"
    has_bag_iterator: true
    do_pp_mean: false
    dataset_name: "miniimagenet"
    split: "train"
    train_num: 500
    num_sample_classes: 15
  }
}

eval_config: {
  num_examples: 1000
  num_visualizations: 0
  eval_interval_secs: 1000
  num_top_predictions: 1
}

eval_input_reader: {
  mil_input_reader{
    shuffle: false
    num_readers: 1
    data_format: "channels_last"
    has_bag_iterator: true
    do_pp_mean: false
    label_map_path: ""
    is_training: false
    dataset_name: "miniimagenet"
    split: "test"
    train_num: 0
    num_sample_classes: 15
  }
}

calib_config: {
  batch_size: 2
  optimizer {
    momentum_optimizer: {
      learning_rate: {
        manual_step_learning_rate {
          initial_learning_rate: 0.0
          schedule {
            step: 0
            learning_rate: .0
          }
        }
      }
      momentum_optimizer_value: 0.9
    }
    use_moving_average: false
  }
  from_detection_checkpoint: true
  fine_tune_checkpoint: "./logs/iccv/mini/main/k2n0/train/model.ckpt-80000"
  num_steps: 1
}

calib_input_reader {
  mil_input_reader{
    shuffle: true
    num_readers: 4
    data_format: "channels_last"
    has_bag_iterator: true
    do_pp_mean: false
    dataset_name: "miniimagenet"
    split: "train"
    train_num: 600
    num_sample_classes: 15
  }
}
