model {
  wrn_attention {
    k_shot: 8
    num_negative_bags: 0
    bag_size: 300
    use_features: true
    num_classes: 100
    wrn_depth: 28
    wrn_width: 10
    wrn_dropout_rate: 0
    wrn_data_format: "channels_last"
    weight_decay: 0.0005
    #batch_non_max_suppression {
    #  score_threshold: 0.0
    #  iou_threshold: 0.5
    #  max_detections_per_class: 300
    #  max_total_detections: 300
    #}
    attention_tree {
      training_subsampler {
        ncobj_proposals: 10
        positive_balance_fraction: 0.25
      }
      preprocess_convline {
        conv_hyperparameters {
          op: CONV
          batch_norm {
            scale: true
            epsilon: 1e-5
          }
          regularizer {
            l2_regularizer {
              weight: 0.0005
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
        filter_num_list: 640
      }
      #k1
      unit {
        cross_similarity {
          deep_cross_similarity {
            fc_hyperparameters {
              op: FC
              regularizer {
                l2_regularizer {
                  weight: 0.0005
                }
              }
              initializer {
                variance_scaling_initializer {
                  factor: 1.0
                  uniform: true
                  mode: FAN_AVG
                }
              }
            }
          }
        }
        loss {
          sigmoid_cross_entropy_loss {}
          class_agnostic: true
          weight: 0.0
        }
        training_subsampler {
          ncobj_proposals: 10
        }
        ncobj_proposals: 300
        orig_fea_in_post_convline: true
        use_tanh_sigmoid_in_post_convline: false
        post_convline_res: "none"
        overwrite_fea_by_scores: false
        compute_scores_after_matching: true
        transfered_objectness_weight: 0.0
      }
      #k2
      unit {
        cross_similarity {
          pairwise_cross_similarity {
            cross_similarity {
              deep_cross_similarity {
                fc_hyperparameters {
                  op: FC
                  regularizer {
                    l2_regularizer {
                      weight: 0.0005
                    }
                  }
                  initializer {
                    variance_scaling_initializer {
                      factor: 1.0
                      uniform: true
                      mode: FAN_AVG
                    }
                  }
                }
                stop_gradient: false
              }
            }
          }
        } 
        loss {
          sigmoid_cross_entropy_loss {}
          class_agnostic: true
          weight: 1.0
        }
        post_convline {
          conv_hyperparameters {
            op: CONV
            batch_norm {
              scale: true
              epsilon: 1e-5
            }
            regularizer {
              l2_regularizer {
                weight: 5e-4
              }
            }
            initializer {
              variance_scaling_initializer {
                factor: 1.0
                uniform: true
                mode: FAN_AVG
              }
            }
          }
          filter_num_list: 640
        }
        training_subsampler {
          stratified: true
          ncobj_proposals: 6
        }
        ncobj_proposals: 500
        orig_fea_in_post_convline: true
        use_tanh_sigmoid_in_post_convline: true
        post_convline_res: "sum"
        overwrite_fea_by_scores: false
        compute_scores_after_matching: true
        unary_energy_scale: 0.0   #[0.0, 0.1, 0.25, 0.43, 0.67, 1.0, 1.5, 2.3, 4.0, 9.0, 999.0]
      }
      #k4
      unit {
        cross_similarity {
          pairwise_cross_similarity {
            cross_similarity {
              deep_cross_similarity {
                fc_hyperparameters {
                  op: FC
                  regularizer {
                    l2_regularizer {
                      weight: 0.0005
                    }
                  }
                  initializer {
                    variance_scaling_initializer {
                      factor: 1.0
                      uniform: true
                      mode: FAN_AVG
                    }
                  }
                }
              }
            } 
          }
        }
        loss {
          sigmoid_cross_entropy_loss {}
          class_agnostic: true
          weight: 1.0
        }
        post_convline {
          conv_hyperparameters {
            op: CONV
            batch_norm {
              scale: true
              epsilon: 1e-5
            }
            regularizer {
              l2_regularizer {
                weight: 5e-4
              }
            }
            initializer {
              variance_scaling_initializer {
                factor: 1.0
                uniform: true
                mode: FAN_AVG
              }
            }
          }
          filter_num_list: 640
        } 
        training_subsampler {
          ncobj_proposals: 6
        }
        ncobj_proposals: 500
        orig_fea_in_post_convline: true
        use_tanh_sigmoid_in_post_convline: true
        post_convline_res: "sum"
        overwrite_fea_by_scores: false
        compute_scores_after_matching: true
        unary_energy_scale: 0.0
      }
      #k8
      unit {
        cross_similarity {
          pairwise_cross_similarity {
            cross_similarity {
              deep_cross_similarity {
                fc_hyperparameters {
                  op: FC
                  regularizer {
                    l2_regularizer {
                      weight: 0.0005
                    }
                  }
                  initializer {
                    variance_scaling_initializer {
                      factor: 1.0
                      uniform: true
                      mode: FAN_AVG
                    }
                  }
                }
              }
            } 
          }
        }
        loss {
          sigmoid_cross_entropy_loss {}
          class_agnostic: true
          weight: 1.0
        }
        post_convline {
          conv_hyperparameters {
            op: CONV
            batch_norm {
              scale: true
              epsilon: 1e-5
            }
            regularizer {
              l2_regularizer {
                weight: 5e-4
              }
            }
            initializer {
              variance_scaling_initializer {
                factor: 1.0
                uniform: true
                mode: FAN_AVG
              }
            }
          }
          filter_num_list: 640
        } 
        training_subsampler {
          ncobj_proposals: 6
        }
        ncobj_proposals: 300
        orig_fea_in_post_convline: true
        use_tanh_sigmoid_in_post_convline: true
        post_convline_res: "sum"
        overwrite_fea_by_scores: false
        compute_scores_after_matching: true
        unary_energy_scale: 0 #2.5
      }
    }
  }
}

train_config: {
  batch_size: 4
  optimizer {
    momentum_optimizer: {
      learning_rate: {
        manual_step_learning_rate {
          initial_learning_rate: 0.01
          schedule {
            step: 0
            learning_rate: .01
          }
          schedule {
            step: 70000
            learning_rate: .001
          }
          schedule {
            step: 200000
            learning_rate: .00016
          }
        }
      }
      momentum_optimizer_value: 0.9
    }
    use_moving_average: false
  }
  from_detection_checkpoint: true
  gradient_clipping_by_norm: 10.0
  num_steps: 210000
  #fine_tune_checkpoint: "../logs/coco/k1/train/model.ckpt-616390"
}

train_input_reader {
  mil_det_fea_input_reader{
    shuffle: true
    num_readers: 2
    split: "source_ex"
    support_db: "../feature_extractor/logs/imagenet/revisit_agnostic_box_multi_feas"
    support_db_name: "source_ex"
    image_size: [512,512]
    fea_dim: 1536
    feas_key: "det_feas"
  }
}

eval_config: {
  num_examples: 1000
  num_visualizations: 0
  eval_interval_secs: 1000
  num_top_predictions: 1
  #metrics_set: "pascal_voc_metrics"
  aggregation_params {
    aggregate: false
    dataset_root: "../feature_extractor/logs/imagenet/revisit_agnostic_box_multi_feas" 
    groundtruth_split: "revisit_val1"
    save_eval_freq: 5000
  }
}

eval_input_reader: {
  mil_det_fea_input_reader{
    shuffle: false
    num_readers: 1
    label_map_path: ""
    split: "revisit_val1"
    support_db: "../feature_extractor/logs/imagenet/revisit_agnostic_box_multi_feas"
    support_db_name: "revisit_val1"
    image_size: [512,512]
    fea_dim: 1536
    objectness_key: "objectness"
    feas_key: "det_feas"
  }
}


